@import "tailwindcss";

:root{
  --color-primary: white;
  --color-highlight: black;
  --color-tool-changer: #f5f5f5;
  --radius-large: .8125rem;
  --elevation-200-canvas: 0px 0px 1px rgba(0, 0, 0, .18), 0px 3px 8px rgba(0, 0, 0, .1), 0px 1px 3px rgba(0, 0, 0, .1);

}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: black;
    --color-highlight: white;
  }
}

@theme {
  --color-brand: #FF4500;
  --color-primary: var(--color-primary);
  --color-highlight: var(--color-highlight);
}

body {
  height: 100dvh;
  width: 100dvw;
  overflow: hidden;
}
